<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta property="og:title" content="The Volpelator - Tony Pointy Meme Machine" />
  <meta property="og:url" content="http://52.30.249.142/" />
  <meta property="og:image" content="http://52.30.249.142/images/og-image.jpg" />
  <title>The Volpelator - Tony Pointy Meme Machine</title>
  <link rel="stylesheet" href="stylesheets/global.css">

  <script src="/javascripts/v.min.js"></script>
  <script src="/javascripts/shared.js"></script>
  <script src="/javascripts/application.js"></script>
</head>
<body>

  <div class="container" ng-app="appVolpelator">
    <header class="row" id="header">
      {% block header %}{% endblock %}
    </header>
    <div class="row" id="content">
      {% block content %}{% endblock %}
    </div>
    <div class="row" id="footer">
      {% block footer %}{% endblock %}
    </div>
  </div>

</body>
</html>
