@import "lib/bootstrap";
@import "lib/bootstrap/theme";


@import "generated/icons";
@import "base/colors";
@import "base/mixins";
@import "base/typography";


@import "include/main";
@import "include/header";
@import "include/footer";
@import "include/overlay";
@import "include/viewer";
@import "include/maker";




/*
@media (min-width: $screen-lg-desktop) {
  #content {
    .tonyviewer {
      width: 25%
    }
  }
}
*/

/*
$widthFactor: 1.25;


#tonymaker {

  #tonymaker-box{

    h4{
      margin: 0.5em 0em;
      font-size: 0.9em;
      width:100%;
    }

    .tonycanvas{
      display:inline-block;
      $canvasWidth: 99%;
      //$canvasHeight: (($canvasWidth*415)/469);
      width: $canvasWidth;
      //height: $canvasHeight;

      #tonytext{
        font-size: 1.5em;
        font-family: GloriaHallelujah, sans-serif;
        position: absolute;
        z-index: 1000;
        margin-top: 7%;
        right: 5%;
        width: 50%;
        height: 15%;
        background-color: rgba(0,0,0,0);
        border:0;
        text-align:center;
        vertical-align: middle;
      }

      .loltony-img{
        position:relative;
        width: $canvasWidth;
        height: $canvasWidth;
        display: inline-block;
      }
    }

    .image-scale{
      position:fixed;
      bottom:0;
    }

    .save-a-tony{
      background-image: url('/images/save-tony-2x.png');
      margin-top:2.8em;
      padding-bottom: 0.4em;
    }
  }
}

.modal-backdrop.in {
  filter: opacity(0.85);
  opacity: 0.85;
}
*/
