<div ng-controller="TonyFooterController as vm">
  <div id="tony-footer-text" ng-show="vm.data.thumbList.length > 0" class="col-md-12">
    {{vm.strings.title}}
  </div>
  <div id="tony-footer" class="col-md-12" >
    <img
      class="tony-footer-thumb col-xs-6 col-sm-4 col-md-3 col-lg-2"
      alt="{{thumb.id}}"
      ng-repeat="($index, thumb) in vm.data.thumbList.slice().reverse()"
      ng-src="{{thumb.url}}"
      ng-click="vm.onThumbClick($index)"
    />
  </div>
  <a id="credits">CREDITS</a>
</div>

