@include font-face(Michroma, "../fonts/michroma-webfont");
@include font-face(GloriaHallelujah, "../fonts/gloriahallelujah-webfont");
//@include font-face()

body {
  @include font-smoothing;
  color: $white;
  font-family: Michroma, sans-serif;
  font-size: 1em;
  text-align: center;
}

small {
  font-size: 0.75em;
}

a {
  &, &:link, &:hover, &:focus, &:active, &:visited{
    cursor: pointer;
    color: $white;
    text-decoration: none;
  }
  opacity: 1;
  outline: 0;
  // autoprefixer will prefix this for you!
  transition: all 0.2s ease-in-out;
  &:hover, &.disabled {
    opacity: 0.55;
  }
  &.disabled{
    cursor:default;
  }
  &:hover, &:focus, &:active{
    outline:0;
  }
}

.screenreader {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
