#footer{
  margin-top: 3em;
  font-size: 1.5em;

  #tony-footer-text{
    margin-bottom: 0.2rem;
  }

  .tony-footer-thumb{
    padding: 1em;
    cursor: pointer;
    //width: 12%;

    &:hover{
      $alpha: 0.85;
      opacity: $alpha;
      filter: opacity($alpha);
    }
  }
}

#credits{
  padding-bottom:1em;
}

@media (min-width: $screen-xs-min) {
  #credits{
    position:fixed;
    top: 1em;
    right: 1em;
  }
}

