
#tonymaker-box{
  h4{
    font-size: 1.4em;
  }

  .image-scale{
    font-size: 1.2em;
    margin-bottom: 0;
  }

  .perc-triggers{
    font-size: 1.5em;
  }

  .perc-val{
    width: 3.5em;
    display: inline-block;
  }

  .tonycanvas{
    position: relative;

    img{
      width:100%;
    }

    #tonytext{
      font-size: 1.5em;
      font-family: 'GloriaHallelujah', sans-serif;
      position: absolute;
      z-index: 1000;
      margin-top: 7%;
      right: 5%;
      width: 50%;
      height: 15%;
      background-color: rgba(0,0,0,0);
      border:0;
      text-align:center;
      vertical-align: middle;
      color: $black;
      opacity: 0.4;
    }

    .img-map{
      display: block;
      position: absolute;
      // debug
      //border: solid 1px black;
    }

    .text-map{
      width: 65%;
      height: 25%;
      top: 5%;
      left: 35%;
    }

    .file-map{
      width: 63%;
      height: 70%;
      top: 30%;
      left: 37%;
    }

  }

}

#loltony-file-select{
  position: fixed;
  top: -1000px;
}

.save-a-tony{
  background-image: url('../images/save-tony-2x.png');
  margin-top:1em;
  padding-bottom: 0.4em;
}

.reset-a-tony{
  background-image: url('../images/reset-tony-2x.png');
}


@media (min-width: $screen-xs-min) {
  #tonymaker-box{
    .image-scale{
      font-size: 1.4em;
    }

    h4{
      br {
        display:none;
      }
      .perc-triggers{
        font-size: 1em;
      }
    }
  }
}
