.overlay-close{
  position:fixed;
  right:0;
  top:0;
  padding-top:1em;
  display: block;

  img{
    width:50%;
  }
}


.modal-content{
  //opacity:0;
  box-shadow: none;
  border: none;
  background-color: transparent;
  margin-top: 5em;
}

.modal-backdrop.in{
  opacity: 0.85;
  filter: opacity(0.85);
}

.modal-dialog{
  //$widthFactor: 1.25;
  //max-width: 415px * $widthFactor;
  max-width: 500px;
}

.modal-box{
  display: block;
  border: solid 1px $white;
  border-radius: 0.5em;
  //max-height: 469px * $widthFactor;
  padding: 0 1em 1em;
}

