.overlay-close{
  position: absolute;
  margin: 0px;
  right: -5em;

  img{
    width:50%;
  }
}

@media (max-width: $screen-xs-min) {
  .overlay-close{
    top: -3.5em;
    right: -1.5em;
  }
}


.modal-content{
  box-shadow: none;
  border: none;
  background-color: transparent;
  margin-top: 5em;

  .basic-overlay{
    font-size: 1.4em;
  }


  img{
    width:100%;
  }
}

.modal-backdrop.in{
  $alpha: 0.90;
  opacity: $alpha;
  filter: opacity($alpha);
}

.modal-dialog{
  max-width: 500px;
}

.modal-box{
  display: block;
  border: solid 1px $white;
  border-radius: 0.5em;
  padding: 0 1em 1em;
}

